<app-header></app-header>
<div class="container-fluid">
  <section>
    <div *ngIf="!areUsers">
      <p class="no-users text-warning text-center">You are alone user in chat.</p>
    </div>
    <div *ngIf="areUsers">
      <div class="row">
        <div class="col-sm-7">
          <app-dialog></app-dialog>
        </div>
        <div class="col-md-offset-1 col-md-offset-0 col-sm-5">
          <online-users></online-users>
        </div>
      </div>
    </div>
  </section>
</div>
