<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3>Hello, {{currentUser.name}}</h3>
    </div>
    <div class="collapse navbar-collapse">
      <p class="navbar-text navbar-right">
        <a routerLink='/login' class="navbar-link logout" (click)="logout()">
          Log out
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </p>
    </div>
  </div>
</nav>
