<div>
  <h3>Users in chat</h3>
  <ul class="list-group">
    <li
      *ngFor="let user of users"
      (click)="changeReceiver(user.name)"
      [class.active]="user.name === receiver.name"
      class="list-group-item">
      {{user.name}}
    </li>
  </ul>
</div>

