<div class="container-fluid">
  <div class="row">
    <form class="login-form col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
      <h3 class="login-form__title">Enter your nick name to use chat</h3>
      <div class="form-group">
        <input
          [(ngModel)]="username"
          type="text"
          class="login-form__username form-control"
          name="username">
        <div class="text-center">
          <button
            [disabled]="username.length < MIN_USERNAME_LENGTH"
            (click)="send($event)"
            class="login-form__submit btn btn-success col-xs-12">
            Log in
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
