.dialog-header {
  margin: 0;
  padding: 3px;
  border-bottom: 1px outset #eee;
  background: #aaa;
  color: #eee;
}

.dialog-wrap {
  height: 400px;
  width: 100%;
  box-shadow: 2px -1px 11px #d4d2d2;
  position: relative;

  li {
    &.incoming {
      .message-text {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
      }

    }
    &.outgoing {
      .message-text {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
      }

    }
    &:first-child {
      margin-top: 1em;
    }
  }
}

.messages-wrap {
  height: 78%;
  overflow-y: auto;
}

.message-wrap {
  width: 90%;
}

.message-sender {
  padding: 0 2%;
  color: #adadad;
}

.message-text {
  font-size: 16px;
  padding: 15px 2%;
  word-wrap: break-word;
}

.dialog-list {
  padding-left: 0 !important;
  list-style: none;
}

.dialog-form {
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;

  &__message {
    width: 77%;
    display: inline-block;
  }

  &__send {
    width: 15%;
    display: inline-block;
  }
}
