<div *ngIf="receiver.name">
  <div class="dialog-wrap">
    <p class="dialog-header">Your messages</p>
    <div class="messages-wrap">
      <ul class="dialog-list">
        <li
          *ngFor="let message of messages"
          [class.text-right]="message.from !== receiver.name"
          [class.outgoing]="message.from !== receiver.name"
          [class.incoming]="message.from === receiver.name"
          class="clearfix">
          <div
            [class.pull-left]="message.from === receiver.name"
            [class.pull-right]="message.from !== receiver.name"
            class="message-wrap">
            <small class="message-sender">{{message.from}}</small>
            <p class="message-text bg-info" [innerHTML]="message.text | linkify"></p>
          </div>
        </li>
      </ul>
    </div>
    <form class="dialog-form">
      <div class="form-group text-center">
        <input
          [(ngModel)]="message"
          name="message-text"
          placeholder="Type your message"
          type="text" class="form-control dialog-form__message"
          autocomplete="off">
        <button
          class="btn btn-primary dialog-form__send"
          (click)="sendMessage()">
          Send
        </button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!receiver.name">
  <h2 class="text-center">Select user to start dialog with him</h2>
</div>
